#navbarlayout {
    width:60%;
    height:30px;
    background-color:black;
    color:white;
    text-decoration: none;
    padding:18px;
    margin:auto;
}

.home,.login{
    text-decoration: none;
    color:white;
    margin:20px;
}
.home{
    margin-left:60%;
}